# Obsidian vault configuration
/.obsidian/*
!/.obsidian/app.json
# !/.obsidian/appearance.json
# !/.obsidian/community-plugins.json
# !/.obsidian/core-plugins.json
!/.obsidian/templates.json
# !/.obsidian/workspace.json

# Obsidian vault trash
/.trash/
temp/
.DS_Store