/* In reading view, hide link content */
.markdown-reading-view .data-link-text[data-link-title]
{
    font-size: 0px;
    visibility: hidden;
    font-weight: bold;
}

/* In reading view, show linked title */
.markdown-reading-view .data-link-text[data-link-title]::before
{
    font-size: 16px;
    content: "🖧 " attr(data-link-title);
    visibility: visible;
}

/* The following two blocks reverses the above if the link
 * has a display or alias attribute: ``[[link-path|display-text]]``.
 * From the inspector, it seems that any link with a display text
 * also has the following attributes set: ``data-tooltip-position``
 * and ``aria-label``.
 *
 * It seems to work?
 *
 */

/* In reading view, if there is aria-label/ tool-tip show normal link text */
/* Is this robust? non-empty tooltip means display / alias is given? */
.markdown-reading-view .data-link-text[aria-label]
{
    /* content: attr(data-link-title) !important; */
    /* font-size: 16px !important; */
    visibility: visible !important;
    font-size: 16px;
}
/* In reading view, if there is aria-label/ tool-tip hide title  */
/* Is this robust? non-empty tooltip means display / alias is given? */
.markdown-reading-view .data-link-text[aria-labe]::before
{
    content: none;
}
